
@import "../_common/colors.scss";

@media (prefers-color-scheme: dark) {
    body {
        color: $dm-text;
    }
    hr {
        border-top-color: rgba(255,255,255,0.1);
    }

    .dropdown-menu.show {
        background: lighten($color: $dm-fore, $amount: 7%);

        a.dropdown-item {
            color: $dm-text;
            &:hover {
                background: lighten($color:$dm-fore, $amount: 10%);
            }
            &:focus {
                background: lighten($color:$dm-fore, $amount: 12%);
            }
        }
    }
}

sup.beta {
    color: $uh-red;
}

nav.cg-navbar {
    .navbar-nav a.nav-link {
        display: inline-flex;
        vertical-align: middle;
        svg.MuiSvgIcon-root {
            height: 16px;
            width: 16px;
            margin-top: calc(1.5rem/2 - 16px/2); // centered vertically
            line-height: 24px;
            margin-right: 0.1em;
    
            @media (min-width: 992px) {
                margin-top: calc(1.5rem/2 - 16px/2 + 1px);
            }
        }
        // Fixes the dropdown disclosure triangle
        &.dropdown-toggle::after {
            margin-top: 0.6em;
        }
        &.dropdown-toggle::before {
            border: 0;
            content: "▾";
        }
    }
    a.dropdown-item {
        svg.MuiSvgIcon-root {
            height: 16px;
            width: 16px;
            margin-top: 0;
            line-height: 24px;
            margin-right: 0.1em;
    
            @media (min-width: 992px) {
                //margin-top: calc(1.5rem/2 - 16px/2 + 1px);
            }
        }
    }
    
}

// iOS fix

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
border-radius: 0;
}
